.game-header {
  .turns p, .stats p{
    font-size: 24px;
    margin-bottom: 10px;
  }

  .turns {
    float: left;
    width: 80%;

    ul {
      font-size: 16px;
      list-style: none;
    }
  }

  .stats {
    float: right;
    width: 20%;

    ul {
      font-size: 20px;
      list-style: none;
    }
  }
}
