<div class="game-header">
  <div class="turns">
    <p>Turns history</p>
    <ul>
      <li *ngFor="let turn of turns | slice:-3">
        <h3>Player sign: <span *ngIf="turn.playerSign">{{turn.playerSign.constructor.name}}</span></h3>
        <h3>Npc sign: <span *ngIf="turn.npcSign">{{turn.npcSign.constructor.name}}</span></h3>
      </li>
    </ul>
  </div>

  <div class="stats">
    <p>Statistics</p>
    <ul>
      <!-- @todo slightly abused -->
      <li>Lives: {{lives - livesLost()}}</li>
    </ul>
  </div>
</div>

<app-turn (turnEnd)="onTurnEnd($event)"></app-turn>