$tileHeight: 104;
$tileWidth: 120;
$margin: 5;
$secondRowVOffset: 52 + $margin*1/2;
$thirdRowVOffset: 156 + $margin*3/2;

ul {
  position: relative;
  background: black;
  width: 500px;
  height: 500px;

  li {
    width: $tileWidth+px;
    height: $tileHeight+px;
    background: url('/assets/black_and_white_wolf_by_espador-d602yga.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: url(#hex-flat);
    position: absolute;

    &:nth-child(1) {
      left: 0;
      top: $thirdRowVOffset+px;
    }

    &:nth-child(2) {
      left: 0;
      top: $secondRowVOffset+px;
    }

    &:nth-child(3) {
      left: 90+$margin+px;
      top: 0;
    }

    &:nth-child(4) {
      left: 180+$margin*2+px;
      top: $secondRowVOffset+px;
    }

    &:nth-child(5) {
      left: 180+$margin*2+px;
      top: $thirdRowVOffset+px;
    }
  }
}