$tileHeight: 104;
$tileWidth: 120;
$margin: 5;
$secondRowVOffset: 52 + $margin*1/2;
$thirdRowVOffset: 156 + $margin*3/2;

ul {
  position: relative;
  width: 310px;
  height: $tileHeight*3+$margin*2px;

  li {
    width: $tileWidth+px;
    height: $tileHeight+px;
    // @todo resolve file?
    clip-path: url(#hex-flat);
    position: absolute;
    top: $tileHeight+$margin+px;
    left: $tileWidth*3/4+$margin+px;
    transition: ease-out 0.3s;

    &.selectable {
      span {
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        pointer-events: none;
        font-size: 24px;
        display: none;
      }

      &:hover span {
        display: block;
      }
    }

    &.selector {
      // @todo import
      background: url('/assets/Backgrounds_The_sign_of_the_anime_Fullmetal_Alchemist_102263_.jpg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(1) {
      background: url('/assets/FyJpNfo.jpg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(2) {
      background: url('/assets/old_armenian_book_by_deviantik.jpg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(3) {
      background: url('/assets/2ea1c50b3ae97c5797a1629215e09f5b.jpg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(4) {
      background: url('/assets/af31cd1d6fa299061ea277affe2afed9.jpg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(5) {
      background: url('/assets/Spock_performing_Vulcan_salute-e1383761091383-640x460.jpg') no-repeat center;
      background-size: cover;
    }
  }

  &.selected {
    li {
      filter: grayscale(100%);
    }

    li.selected {
      filter: none;
    }
  }

  &.select {
    li.selectable {
      &:nth-child(1) {
        left: 0;
        top: $thirdRowVOffset+px;
      }

      &:nth-child(2) {
        left: 0;
        top: $secondRowVOffset+px;
      }

      &:nth-child(3) {
        left: $tileWidth*3/4+$margin+px;
        top: 0;
      }

      &:nth-child(4) {
        left: $tileWidth*1.5+$margin*2+px;
        top: $secondRowVOffset+px;
      }

      &:nth-child(5) {
        left: $tileWidth*1.5+$margin*2+px;
        top: $thirdRowVOffset+px;
      }
    }
  }
}